/*=======================================
    3.0 Header
========================================*/
.header {
    overflow: hidden;
}

.header .header-bottom {
    padding: 30px 0;
}
.header .header-bottom .menu-wrapper.menu-fixed {
    padding: 20px 0;
    position: fixed;
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1) !important;
}
.header .header-bottom .menu-area {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.header .header-bottom .menu-area ul.main-menu {
    list-style: none;
    display: flex;
}
.header .header-bottom .menu-area ul.main-menu li {
    position: relative;
}
.header .header-bottom .menu-area ul.main-menu li a {
    color: #0f1021;
    text-transform: uppercase;
    display: inline-block;
    padding: 0 15px;
    text-decoration: none;
}
.header .header-bottom .menu-area ul.main-menu li.active a,
.header .header-bottom .menu-area ul.main-menu li a:hover {
    color: #003DA7;
    font-weight: 500;
}
.header .header-bottom .menu-area ul.main-menu li::before {
    content: "";
    position: absolute;
    height: 2.5px;
    width: 20px;
    bottom: -8px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    opacity: 0;
    visibility: hidden;
    background: #003DA7;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
.header .header-bottom .menu-area ul.main-menu li:hover::before,
.header .header-bottom .menu-area ul.main-menu li.active::before {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translateX(-50%);
    transform: scale(1) translateX(-50%);
}

@media only screen and (min-width: 992px) {
    header.header .mobile-menu-main {
        display: none !important;
    }
    header.header .nav-icon {
        display: none;
    }
}
@media only screen and (max-width: 991.98px) {
    .header-top-right,
    .main-menu-area .main-menu {
        display: none !important;
    }

    header.header.nav-open .mobile-menu-main {
        display: block !important;
        position: fixed;
        height: 100%;
        width: 100vw;
        top: 0;
        left: 0;
        z-index: 999;
        background-color: rgba(0, 0, 0, 0.5);
    }

    header.header .mobile-menu {
        position: fixed;
        top: 0;
        right: 0;
        width: 320px;
        height: 100vh;
        background: #fff;
        padding: 60px 40px 40px;
        z-index: 9999;
        overflow-y: auto;
        -webkit-transform: translateX(350px);
        -ms-transform: translateX(350px);
        -o-transform: translateX(350px);
        transform: translateX(350px);
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }
    header.header .mobile-menu ul {
        margin: 0;
        list-style: none;
    }
    header.header .mobile-menu ul li {
        margin-bottom: 15px;
        position: relative;
    }
    header.header .mobile-menu ul li:last-child {
        margin-bottom: 0;
    }
    header.header .mobile-menu ul li a {
        font-size: 16px;
        color: #003DA7;
    }

    .mobile-menu-btn {
        margin-top: 20px;
    }

    header.header.nav-open .mobile-menu {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .nav-burger {
        position: absolute;
        top: 30px;
        right: 34px;
    }

    .nav-icon {
        display: block;
        margin-top: -10px;
        margin-left: 25px;
    }

    .navbar-right .custom-btn {
        display: none;
    }

    .mobile-logo img {
        width: 220px;
    }
}
.hamburger {
    width: 40px;
    height: 40px;
    display: block;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    pointer-events: auto;
    -webkit-tap-highlight-color: transparent;
}
.hamburger .hamburger__line {
    width: 40px;
    height: 2px;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger .hamburger__line .hamburger__line-in {
    width: 200px;
    height: 2px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition-duration: .6s;
    transition-duration: .6s;
    -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger .hamburger__line .hamburger__line-in::after, .hamburger .hamburger__line .hamburger__line-in::before {
    width: 60px;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    background-color: #003DA7;
}
.hamburger .hamburger__line .hamburger__line-in::before {
    left: -128px;
}
.hamburger .hamburger__line .hamburger__line-in::after {
    left: 0;
}
.hamburger .hamburger__line.hamburger__line--01 {
    top: 10px;
    left: 0;
}
.hamburger .hamburger__line.hamburger__line--02 {
    top: 22px;
    left: 8px;
}
.hamburger .hamburger__line.hamburger__line--03 {
    top: 34px;
    left: 16px;
}
.hamburger .hamburger__line.hamburger__line--cross01 {
    left: 3px;
    top: 17.5px;
    width: 34px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger .hamburger__line.hamburger__line--cross02 {
    left: 3px;
    top: 17.5px;
    width: 34px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.hamburger.is-opened-navi .hamburger__line-in:before, .hamburger.is-opened-navi .hamburger__line-in:after {
    background-color: #003DA7;
}

.hamburger__line-in--cross01,
.hamburger__line-in--cross02 {
    -webkit-transform: translateX(-33.3%);
    transform: translateX(-33.3%);
}

.hamburger__line-in--01 {
    -webkit-transition-delay: .2s;
    transition-delay: 0.2s;
}

.hamburger__line-in--02 {
    -webkit-transition-delay: .25s;
    transition-delay: 0.25s;
}

.hamburger__line-in--02::after,
.hamburger__line-in--02::before {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}

.hamburger__line-in--03 {
    -webkit-transition-delay: .3s;
    transition-delay: 0.3s;
}

.hamburger__line-in--03::after,
.hamburger__line-in--03::before {
    -webkit-transition-delay: .1s;
    transition-delay: 0.1s;
}

.hamburger__line-in--cross01 {
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
}

.hamburger__line-in--cross02 {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}

.hamburger__line-in--cross02::after,
.hamburger__line-in--cross02::before {
    -webkit-transition-delay: .1s;
    transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--01,
.hamburger.is-opened-navi .hamburger__line-in--02,
.hamburger.is-opened-navi .hamburger__line-in--03 {
    -webkit-transform: translateX(33.3%);
    transform: translateX(33.3%);
}

.hamburger.is-opened-navi .hamburger__line-in--cross01,
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.hamburger.is-opened-navi .hamburger__line-in--01 {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

.hamburger.is-opened-navi .hamburger__line-in--02 {
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
}

.hamburger.is-opened-navi .hamburger__line-in--03 {
    -webkit-transition-delay: .1s;
    transition-delay: 0.1s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross01 {
    -webkit-transition-delay: .25s;
    transition-delay: 0.25s;
}

.hamburger.is-opened-navi .hamburger__line-in--cross02 {
    -webkit-transition-delay: .3s;
    transition-delay: 0.3s;
}

.hamburger:hover .hamburger__line-in::after,
.hamburger:hover .hamburger__line-in::before {
    -webkit-transform: translateX(200%);
    transform: translateX(200%);
}

.hamburger:hover .hamburger__line-in--01::after,
.hamburger:hover .hamburger__line-in--01::before,
.hamburger:hover .hamburger__line-in--02::after,
.hamburger:hover .hamburger__line-in--02::before,
.hamburger:hover .hamburger__line-in--03::after,
.hamburger:hover .hamburger__line-in--03::before {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.hamburger:hover .hamburger__line-in--cross01::after,
.hamburger:hover .hamburger__line-in--cross01::before,
.hamburger:hover .hamburger__line-in--cross02::after,
.hamburger:hover .hamburger__line-in--cross02::before {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before {
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
}

.hamburger.is-opened-navi:hover .hamburger__line-in--01::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--01::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--02::before,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::after,
.hamburger.is-opened-navi:hover .hamburger__line-in--03::before {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
}